static_folder/form/css/solution/css/* linguist-vendored
static_folder/form/css/solution/fonts/* linguist-vendored
static_folder/form/css/solution/images/* linguist-vendored
static_folder/form/css/solution/css/* linguist-vendored
static_folder/form/css/solution/js/* linguist-vendored
static_folder/form/css/solution/owl-carousel* linguist-vendored
static_folder/form/css/solution/owl-carousel/assets/* linguist-vendored
templates/* linguist-vendored
static_folder/form/css/* linguist-vendored
static_folder/que/css/* linguist-vendored
static_folder/que/js/* linguist-vendored
static_folder/form/select2/dist/css/* linguist-vendored
static_folder/form/select2/dist/js/* linguist-vendored